/* # Select2 (dropdown with search)

================================================== */

.select2-container { position: relative; display: inline-block; zoom: 1; *display: inline; vertical-align: top; min-width: 160px; }

.select2-container, .select2-drop, .select2-search, .select2-search input{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;  }

.select2-container .select2-choice { display: block; padding: 8px 0 7px 8px; line-height: 13px; overflow: hidden; position: relative;  border: 1px solid #d5d5d5; white-space: nowrap; color: #777; font-size: 11px; text-decoration: none;

                                     -webkit-background-clip: padding-box;

                                     -moz-background-clip: padding;

                                     background-clip: padding-box;

                                     background: #f5f5f5; 

                                     background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); 

                                     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); 

                                     background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 

                                     background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 

                                     background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 

                                     background: linear-gradient(top, #ffffff 0%,#f5f5f5 100%); 

                                     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);

                                     box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee;

                                     -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 

                                     -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 

}

.select2-container > .select2-choice:hover, .select2-dropdown-open > .select2-choice {

    background: #fafafa; 

    background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%); 

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa)); 

    background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%); 

    background: -o-linear-gradient(top, #ffffff 0%,#fafafa 100%); 

    background: -ms-linear-gradient(top, #ffffff 0%,#fafafa 100%); 

    background: linear-gradient(top, #ffffff 0%,#fafafa 100%); 

    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}

.select2-container.select2-drop-above .select2-choice { border-bottom-color: #aaa; }

.select2-container .select2-choice span { margin-right: 28px; display: block; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.select2-container .select2-choice abbr { display: block; width: 10px; height: 10px; position: absolute; right: 28px; top: 9px; background: url(images/clear_results.png) no-repeat; cursor: pointer; }

.select2-container .select2-choice abbr:hover { cursor: pointer; }

.select2-drop-mask { position: absolute; left: 0; top: 0; z-index: 9998; opacity: 0; filter: alpha(opacity=0); }

.select2-drop { width: 100%; position: absolute; z-index: 9999; top: 100%; font-size: 11px; background: #fff; color: #000; border: 1px solid #d5d5d5; border-top: 0; }

.select2-drop.select2-drop-above { border-top: 1px solid #d5d5d5; border-bottom: 0; }

.select2-container .select2-choice div { display: block; width: 22px; height: 100%; position: absolute; right: 0; top: 0; background: url(images/select_arrows.png) no-repeat 0 1px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }

.select2-container .select2-choice div b { display: block; width: 100%; height: 100%; }

.select2-search { display: inline-block; width: 100%; margin: 0; padding: 6px 5px; position: relative; z-index: 10000; white-space: nowrap; }

.select2-search-hidden { display: block; position: absolute; left: -10000px; }

.select2-search input { width: 100%; height: auto!important; padding: 5px 20px 5px 5px!important; margin: 0; background: #fff url(images/dropdown_search.png) no-repeat 97%; outline: 0; font-size: 11px; border: 1px solid #d5d5d5; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.select2-search input.select2-active {

    background: #fff url('images/select2-spinner.gif') no-repeat 100%;

    background: url('images/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));

    background: url('images/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);

    background: url('images/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);

    background: url('images/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);

    background: url('images/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);

    background: url('images/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);

}

.select2-container-active .select2-choice, .select2-container-active .select2-choices { outline: none; }

.select2-dropdown-open .select2-choice div { filter: none; }

.select2-results { max-height: 200px; padding: 0 0 0 4px; margin: 0 4px 4px 0; position: relative; overflow-x: hidden; overflow-y: auto; }

.select2-results ul.select2-result-sub { margin: 0; }

.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li { list-style: none; display: list-item; background-image: none; }

.select2-results li.select2-result-with-children > .select2-result-label { color: #4285A7; font-weight: bold; padding: 6px 7px; }

.select2-results .select2-result-label { padding: 8px 7px 7px 7px; line-height: 13px; margin: 0; cursor: pointer; }

.select2-results .select2-highlighted { background: #08C; color: #fff; }

.select2-results li em { background: #feffde; font-style: normal; }

.select2-results .select2-highlighted em { background: transparent; }

.select2-results .select2-highlighted ul { background: white; color: #000; }

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit { background: #f4f4f4; display: list-item; padding: 4px 8px; color: #777; }

.select2-drop-multi .select2-selection-limit, .select2-drop-multi .select2-no-results { margin-top: 4px; }

.select2-results .select2-disabled.select2-highlighted { color: #666; background: #f4f4f4; display: list-item; cursor: default; }

.select2-results .select2-disabled { background: #f4f4f4; display: list-item; cursor: default; }

.select2-results .select2-selected { display: none; }

.select2-more-results.select2-active { background: #f4f4f4 url('images/select2-spinner.gif') no-repeat 100%; }

.select2-more-results { background: #f4f4f4; display: list-item; }

.select2-container.select2-container-disabled .select2-choice { background-color: #f4f4f4; background-image: none; border: 1px solid #ddd; cursor: default; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.select2-container.select2-container-disabled .select2-choice div { background-color: #f4f4f4; }

.select2-container.select2-container-disabled .select2-choice abbr { display: none }

.select2-container-multi { width: 100%; }

.select2-container-multi .select2-choices { padding: 5px; height: auto !important; height: 1%; margin: 0; position: relative; cursor: text; overflow: hidden; background-color: white; border: 1px solid #d5d5d5; }

.select2-locked { padding: 3px 5px 3px 5px !important; }

.select2-container-multi .select2-choices { min-height: 26px; }

.select2-container-multi.select2-container-active .select2-choices { outline: none; }

.select2-container-multi .select2-choices li { float: left; list-style: none; }

.select2-container-multi .select2-choices .select2-search-field { margin: 0; padding: 0; white-space: nowrap; }

.select2-container-multi .select2-choices .select2-search-field input { height: auto; min-width: 60px; border: none; padding: 6px 0; margin: 6px 0 5px 5px; background: transparent; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

.select2-container-multi .select2-choices .select2-search-field input.select2-active { background: #fff url('images/select2-spinner.gif') no-repeat 100% !important; }

.select2-container-multi .select2-choices .select2-search-choice { border: 1px solid #A5D24A; display: block; float: left; padding: 6px 8px 5px 22px; background: #CDE69C; color: #638421; margin: 5px; line-height: 13px; font-size: 11px; position: relative; white-space: nowrap; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }

.select2-container-multi .select2-choices .select2-search-choice span { cursor: default; }

.select2-container-multi .select2-choices .select2-search-choice-focus { background: #d4d4d4; }

.select2-search-choice-close { display: block; position: absolute; top: 9px; width: 6px; height: 6px; font-size: 1px; background: url(images/close_tag.png) no-repeat; outline: none; }

.select2-container-multi .select2-search-choice-close { left: 9px; }

.select2-container-multi.select2-container-disabled .select2-choices{ background-color: #F8F8F8; background-image: none; border: 1px solid #ddd; cursor: default; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice { background-image: none; background-color: #F1F1F1; border: 1px solid #DDD; padding-left: 8px; color: #999; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close { display: none; }

.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match { text-decoration: underline; }

.select2-offscreen { position: absolute; left: -10000px; }

/* # custom (dropdown with search)

================================================== */

.inside .fields_set{ display: block; margin-bottom: 10px;}

.inside .fields_set label{ display:inline-block; width: 30%; float:left}

.fields_set select, .fields_set input, .fields_set textarea,.fields_set .select2-container{ display:inline-block; width: 85%;}

.fields_set .description { display: block;}

.fields_set ul, .fields_set ul li{display:inline}

.nhp-opts-multi-text-add { display: block;}

.fields_set .field{ display:inline-block; width: 70%; }

/* megamenu options */

#megamenu_options p{ clear:both;}

#megamenu_options p label.field{display:block;}

#megamenu_options p label.field span{float:left; width:32%;}

#megamenu_options p label.field select{ width:65%; }

#media_images > p {

    float: left;

    height: 150px;

    margin-right: 5px;

    position: relative;

}

#media_images p a{

    display:none;

}

#media_images p:hover a {

    color: #FF0000;

    font-size: 25px;

    position: absolute;

    right: 10px;

    text-decoration: none;

    display:inline-block;

}

.faqs

{

    width:32px;

    background-image:url('../../../../img/vc/FAQs.png');

    height:32px;

}

.skillbar

{

    width:32px;

    background-image:url('../../../img/vc/skillbar.png');

    height:32px;

}

.toggle

{

    background-image:url('../../../img/vc/toggle.png');

    height:32px;

}

.price-table

{

    width:32px;

    background-image:url('../../../img/vc/price-table.png');

    height:32px;

}

.alert-box

{

    width:32px;

    background-image:url('../../../img/vc/alert-box.png');

    height:32px;

}

.icon-button

{

    width:32px;

    background-image:url('../../../img/vc/button.png');

    height:32px;

}

.recent-posts

{

    width:32px;

    background-image:url('../../../img/vc/recent-posts.png');

    height:32px;

}

.appointment-downs

{

    width:32px;

    background-image:url('../../../img/vc/appointment-downs.png');

    height:32px;

}

.appointment-icon

{

    width:32px;

    background-image:url('../../../img/vc/appointment-icon.png');

    height:32px;

}

.timetable

{

    width:32px;

    background-image:url('../../../img/vc/timetable.png');

    height:32px;

}

.services-icon

{

    width:32px;

    background-image:url('../../../img/vc/services.png');

    height:32px;

}

.our-staff

{

    width:32px;

    background-image:url('../../../img/vc/our-staff.png');

    height:32px;

}

.recent-events

{

    width:32px;

    background-image:url('../../../img/vc/recent-events.png');

    height:32px;

}

.our-affiliation

{

    width:32px;

    background-image:url('../../../img/vc/our-affiliation.png');

    height:32px;

}

.testimonials

{

    width:32px;

    background-image:url('../../../img/vc/testimonials.png');

    height:32px;

}

.portfolio

{

    width:32px;

    background-image:url('../../../img/vc/portfolio.png');

    height:32px;

}

.about

{

    width:32px;

    background-image:url('../../../img/vc/about.png');

    height:32px;

}

.team

{

    width:32px;

    background-image:url('../../../img/vc/team.png');

    height:32px;

}

.company-progress

{

    width:32px;

    background-image:url('../../../img/vc/company-progress.png');

    height:32px;

}

.camera-slider

{

    width:32px;

    background-image:url('../../../img/vc/camera-slider.png');

    height:32px;

}

.slicebox-slider

{

    width:32px;

    background-image:url('../../../img/vc/slicebox-slider.png');

    height:32px;

}

.employee

{

    width:32px;

    background-image:url('../../../img/vc/employee.png');

    height:32px;

}

.setting_text {

    float: left;

    font-family: open sans;

    font-weight: 500;

    margin-bottom: 10px;

    width: 100%;

}

.setting_input > select {

    height: 30px;

    width: 100%;

}

.inside .fields_set {

    display: block;

    margin-bottom: 30px;

}

.nhp-opts-multi-text-remove, .nhp-opts-multi-text-add,.nhp-opts-upload-remove.btn2 {

    background: none repeat scroll 0 0 #F7F7F7;

    border: 1px solid #CCCCCC;

    color: #555555;

    float: left;

    line-height: 25px;

    margin-right: 20px;

    margin-top: 10px;

    min-width: 65px;

    padding: 2px 9px;

    text-align: center;

    text-decoration: none;



    -webkit-border-radius: 3px;

    -moz-border-radius: 3px;

    -ms-border-radius: 3px;

    -o-border-radius: 3px;

    border-radius: 3px;



    -webkit-transition: all 0.3s ease 0s;

    -moz-transition: all 0.3s ease 0s;

    -ms-transition: all 0.3s ease 0s;

    -o-transition: all 0.3s ease 0s;

    transition: all 0.3s ease 0s;



    -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.08);

    -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.08);

    -ms-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.08);

    -o-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.08);

    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.08);

}

.nhp-opts-multi-text-remove:hover, .nhp-opts-multi-text-add:hover,.nhp-opts-upload-remove.btn2:hover {

    background: none repeat scroll 0 0 #FAFAFA;

}

.fields_set select, .fields_set input, .fields_set textarea, .fields_set .select2-container {

    width: 100%;

}

.fields_set .dependent_radio {

    width: auto;

}

.inside > p {

    color: #878787;

    font-weight: 500;

    letter-spacing: 0.3px;

    line-height: 25px;

    margin: 0 0 5px;

}

.fields_set > span {

    color: #878787;

    letter-spacing: 0.3px;

    line-height: 25px;

}

.vc-teaser-switch input {

    width: auto;

}

.vc-teaser-constructor-hint > p {

    color: #878787;

    letter-spacing: 0.3px;

    line-height: 25px;

}

.nhp-opts-screenshot {

    width: 100%;

}

p.search-box {

    float: none;

    height: 90px;

    margin-bottom: 20px;

    position: absolute;

    right: 30px;

    top: 150px;

    width: 60%;

}

p.search-box input[name="s"] {

    float: none;

    height: auto;

    margin-bottom: 10px;

    vertical-align: middle;

    width: 71%;

}





.modal-header .close{

    z-index:100;

}



#media-upload #filter {

    position: relative;

}

p.search-box {

    bottom: 0;

    float: left;

    height: 90px;

    position: relative;

    top: 0;

    width: 100%;

}

.sh_accordion

{

    width:32px;

    background-image:url('../../../../images/vc/accordion.png');

    height:32px;

}

.sh_block-quotes

{

    width:32px;

    background-image:url('../../../images/vc/block-quotes.png');

    height:32px;

}

.sh_vc_blog

{

    background-image:url('../../../images/vc/blog.png');

    height:32px;

}



.sh_vc_button

{

    width:32px;

    background-image:url('../../../images/vc/button.png');

    height:32px;

}



.sh_charity-video

{

    width:32px;

    background-image:url('../../../images/vc/charity-video.png');

    height:32px;

}



.sh_donation

{

    width:32px;

    background-image:url('../../../images/vc/donation.png');

    height:32px;

}

.sh_gallery

{

    width:32px;

    background-image:url('../../../images/vc/gallery.png');

    height:32px;

}

.leave-a-message

{

    width:32px;

    background-image:url('../../../images/vc/leave-a-message.png');

    height:32px;

}

.sh_list-item

{

    width:32px;

    background-image:url('../../../images/vc/list-item.png');

    height:32px;

}

.sh_recent_news

{

    width:32px;

    background-image:url('../../../images/vc/news.png');

    height:32px;

}

.our-casuses

{

    width:32px;

    background-image:url('../../../images/vc/our-casuses.png');

    height:32px;

}

.our-casuses-with-donation

{

    width:32px;

    background-image:url('../../../images/vc/our-casuses-with-donation.png');

    height:32px;

}

.sh_portfolio

{

    width:32px;

    background-image:url('../../../images/vc/portfolio.png');

    height:32px;

}

.sh_price-table

{

    width:32px;

    background-image:url('../../../images/vc/price-table.png');

    height:32px;

}

.sh_vc_progressbar

{

    width:32px;

    background-image:url('../../../img/vc/progressbar.png');

    height:32px;

}

.sh_recent-event

{

    width:32px;

    background-image:url('../../../img/vc/recent-event.png');

    height:32px;

}

.regular-donation

{

    width:32px;

    background-image:url('../../../images/vc/regular-donation.png');

    height:32px;

}

.sh_vc_services

{

    width:32px;

    background-image:url('../../../images/vc/services.png');

    height:32px;

}

.sh_shop-online

{

    width:32px;

    background-image:url('../../../images/vc/shop-online.png');

    height:32px;

}

.sh_social-media

{

    width:32px;

    background-image:url('../../../images/vc/social-media.png');

    height:32px;

}

.successful-stories

{

    width:32px;

    background-image:url('../../../images/vc/successful-stories.png');

    height:32px;

}

.tab1

{

    width:32px;

    background-image:url('../../../images/vc/tab1.png');

    height:32px;

}

.sh_vc_team

{

    width:32px;

    background-image:url('../../../images/vc/team.png');

    height:32px;

}

.sh_testimonials

{

    width:32px;

    background-image:url('../../../images/vc/testimonials.png');

    height:32px;

}

.upcoming-events

{

    width:32px;

    background-image:url('../../../images/vc/upcoming-events.png');

    height:32px;

}

.video

{

    width:32px;

    background-image:url('../../../images/vc/video.png');

    height:32px;

}

.welfare-project

{

    width:32px;

    background-image:url('../../../images/vc/welfare-project.png');

    height:32px;

}

input[type="checkbox"] {

    width: auto !important;

}





#accordion h2 {

    background: #f0f0f0 none repeat scroll 0 0;

    border: 1px solid #dddddd;

    box-sizing: border-box;

    float: left;

    font-family: open sans;

    font-size: 13px;

    font-weight: 700;

    margin-bottom: 10px;

    padding: 10px 18px;

    text-transform: uppercase;

    width: 100%;

}

#donation_transactions .content {

    border-bottom: 1px solid #dddddd;

    border-left: 1px solid #dddddd;

    border-right: 1px solid #dddddd;

    box-sizing: border-box;

    float: left;

    margin-bottom: 20px;

    margin-top: -10px;

    padding: 20px 0 0;

    width: 100%;

}

#donation_transactions .content li {

    border-bottom: 1px solid #dddddd;

    box-sizing: border-box;

    display: unset !important;

    float: left;

    font-size: 12px;

    margin: 0;

    padding: 5px 20px;

    width: 100%;

}

.content li:last-child {

    border: 0 none;

}



#accordion > h2 {

    cursor: pointer;

    margin-top: 0px;

}


.inside .styled-select .select2-container {
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    padding: 5px;
}
.inside .styled-select .select2-container span.select2-selection__arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
    position: absolute;
    right: 10px;
    top: 12px;
}
.select2-container.select2-container--open {
    background-color: #ffffff;
    padding: 5px 10px;
    z-index: 9999;
}
.select2-results__options > li {
    cursor: pointer;
    margin-bottom: 0;
    padding: 5px 10px;
}
.select2-results__options > li:hover {background-color: #fafafa;}
.sh_dependent_radio > label {width: 35% !important;}