<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

.cause-bar,.recursive-periods,.amount-btns{display:none;}
#credit_card_form{display:block;}

.payment-success{
 text-align:center;
 padding:40px 0;
}

#paypaldonate{
	border: 1px solid #D8D8D8;
color: #cccccc;
font-family: roboto;
font-size: 12px;
float: left;
height: 40px;
padding: 10px 20px;
width: 280px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#paypal_form{display:none;}
</style>
<!-- end Simple Custom CSS and JS -->
